<!DOCTYPE html>
<html>
  <head>
    <title>patient-doctor-admin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <%= render 'layouts/application/header' %>

    <main role="main" class="container">
      <%= render "layouts/application/flash" if flash[:notice] %>
      <%= yield %>
    </main>
  </body>
</html>
